body, .main {
	background: #e5e5e5;
}

.vim-element__wrap,
.vim-shortcuts,
a.choice {
    display: inline-block
}

.vim-element__txt,
.vim-shortcut h3 {
    line-height: 35px;
    font-family: Museo-Sans, Arial, verdana, sans-serif;
    box-sizing: border-box
}

.vim-element__txt,
.vim-shortcut h3,
a.vimeo-button {
    text-decoration: none;
    font-weight: 600
}

.h1custom {
    float: none!important;
    margin-left: .6rem!important
}

.h1custom h1 a {
    color: #ef8d09;
    text-decoration: none
}

.h1custom h1 a:hover {
    color: #ec174e
}

.vimapp-wrap {
    width: 960px;
    height: 10100px;
    background: #e5e5e5
}

.vim-breadcrumb {
    margin: 0 0 1rem .3em;
    font-size: 1.2em
}

.vim-breadcrumb a,
.vim-breadcrumb span {
    text-decoration: none;
    display: inline-block;
    color: #6d6b6b;
    margin: 0 .5em;
    font-weight: 600
}

.vim-breadcrumb a:hover {
    color: #ec174e
}

.vim-wrap {
    position: relative;
    width: 960px;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: 1rem auto 0
}

.vim-noblack,
.vim-playpause,
.vim-preplay,
.vimeo {
    position: absolute
}

.vim-noblack,
.vim-noblack img,
.vimeo {
    width: 100%;
    height: 100%
}

.vimeo {
    left: 0
}

.vim-noblack {
    z-index: 100;
    transition: opacity 2s
}

.vim-preplay {
    left: 440px;
    top: 200px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 110
}

.vim-playpause {
    left: 0;
    margin: 10px;
    bottom: -50px;
    width: 65px;
    height: 40px;
    opacity: 1;
    z-index: 100;
    cursor: pointer
}

.vim-overlay,
.vim-playclick,
img.playpause {
    height: 100%;
    position: absolute;
    width: 100%
}

img.play {
    left: 0
}

.vim-overlay,
img.pause {
    left: -10000px
}

.vim-overlay {
    opacity: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .4);
    transition: opacity 2s
}

.playclick,
.replayclick {
    cursor: pointer
}

.vim-head h2 {
    top: 0;
    left: 0;
    font-size: 2.3em;
    padding: 1rem;
    background: #ec174e;
    color: #fff
}

.vim-body {
    position: absolute;
    text-align: center;
    height: 70%;
    width: 100%;
    margin: 0 auto
}

.vim-element__wrap {
    margin: 30px 0 0 32px;
    vertical-align: top;
    width: 200px;
    height: 175px
}

.vim-element {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
    transition: all .1s ease;
    border: 6px solid #fff
}

.vim-element__wrap:hover .vim-element {
    margin-top: 1px
}

.vimeo-thumb {
    width: 200px;
    height: 150px
}

.vim-element__txt {
	position: absolute;
	bottom: 0px;
	left: 0px;
    text-align: left;
    width: 100%;
    height: 35px;
    padding: 0 0 0 20px;
    font-size: 1.3em;
    background-color: #ef8d09;
    color: #FFF;
}

.vim-element__txt__long {
    font-size: .9em
}

.vim-element:hover .vim-element__txt {
    background-color: #f8a432!important;
    color: #fff
}

.vim-element .checkmark {
    position: absolute;
    top: 5px;
    right: 10px
}

.vim-post-question {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    background: #ec174e;
    color: #fff
}

.vim-shortcuts {
    position: relative;
    text-align: center;
    width: 100%;
    height: 34px;
    margin: 0 auto;
    background: rgba(255, 255, 255, .5)
}

.vim-shortcuts span {
    color: #ec174e;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: .8em;
    display: inline-block;
}

.vim-shortcut h3 {
    position: absolute;
    bottom: 0;
    height: 34px;
    padding: 0 20px;
    font-size: 1.3em;
    color: #ec174e;
    background: #fff
}

.vim-contact,
.vim-controls {
    position: relative;
    margin: 1rem 0 0;
    box-shadow: 0 1px 3px #ccc
}

.vim-shortcut--back h3 {
    left: 0;
    top: 0;
    padding: 0 20px 0 40px;
    background-image: url("../../img/arrowVisuallinkLeftRed.png");
    background-position: left 10px;
    background-repeat: no-repeat
}

.vim-shortcut--next h3 {
    right: 0;
    top: 0;
    padding: 0 40px 0 20px;
    background-image: url("../../img/arrowVisuallinkRed.png");
    background-position: right 10px;
    background-repeat: no-repeat
}

.vim-infoblock-container--left {
    float: left;
    width: 40%
}

.vim-infoblock-container--right {
    float: right;
    width: 57%
}

.vim-infoblock p {
    font-size: 1.1em;
    line-height: 1.3em;
    color: #5f5f5f;
    background: #f0f0f4;
    padding: 1em
}

.vim-controls {
    background: #fff
}

.vim-infoblock-head {
    color: #ec174e;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-bottom: 1px dashed #ec174e
}

a.vimeo-button {
    display: block;
    padding: 1em 2em;
    font-size: .9rem;
    color: #fff;
    background-color: #ef8d09;
    font-family: Arial, Verdana, Sans-Serif;
    border: 2px solid #fff;
    border-width: 4px 4px 0;
    transition: all .5s
}

a.vimeo-button:last-of-type {
    border-width: 4px
}

a.vimeo-button:hover {
    color: #fff;
    background: #f8a432
}

.vim-toeslag {
    margin: 1rem 0 0;
    background: #fff;
    box-shadow: 0 1px 3px #ccc
}

.vim-contact {
    background: #fff
}

.vim-contact form {
    padding: 0 0 1rem
}

.vim-contact input[type=text],
textarea {
    display: block;
    margin: .5rem 5% 0;
    font: 13.33px Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start
}

.vim-contact input[type=text] {
    width: 50%;
    height: 1.8rem
}

.vim-check-container {
    margin: .5rem 5% 0
}

.vim-check {
    margin: .2rem;
    display: inline-block;
    width: 45%
}

.vim-check input[type=checkbox] {
    display: none
}

.vim-check input[type=checkbox]+label {
    display: block;
    padding: 1em;
    background: #fff;
    color: #ec174e;
    border: 1px solid #ec174e;
    cursor: pointer
}

.vim-check input[type=checkbox]:checked+label {
    background: #ec174e;
    color: #fff;
    font-style: normal
}

textarea {
    resize: none;
    color: #000;
    width: 88%;
}

.vim-contact span {
    clear: both;
    padding-top: .5rem;
    font-weight: 600;
    color: #6d6b6b
}

.vim-contact input[type=submit] {
    padding: .6rem 1.5rem;
    font-size: 1.2em;
    margin: 1rem 5% 0;
    height: auto;
    color: #ec174e;
    border-color: #ec174e
}

.vim-contact input[type=submit]:hover {
    cursor: pointer;
    background: #F9F9F9
}

.warning {
    margin-left: 2rem;
    display: inline-block;
    color: #ec174e!important;
    font-style: italic
}

.vim-contact-tel {
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 0 2em 1em;
    color: #5f5f5f;
    background: #f0f0f4
}

.vim-contact-tel span {
    color: #ec174e
}

.vim-contact-thanks {
    font-size: 1.8em;
    line-height: 1.8em;
    padding: 2em;
    color: #5f5f5f;
    background: #f0f0f4
}

.vim-contact-head {
    color: #ec174e;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-bottom: 1px dashed #ec174e
}

.vim-post-controls h3,
.vim-post-controls--play,
.vim-post-controls--replay {
    position: absolute;
    text-decoration: none;
    line-height: 34px;
    font-family: Museo-Sans, Arial, verdana, sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    box-sizing: border-box
}

.vim-post-controls h3 {
    bottom: 0;
    height: 34px;
    padding: 0 20px;
    background: #ec174e;
    color: #fff
}

.vim-post-controls--replay {
    top: 0;
    right: 0;
    width: 50px;
    height: 52px;
    padding: 10px;
    background: #ec174e;
    color: #fff
}

.vim-post-controls--play img,
.vim-post-controls--replay img {
    width: 30px;
    height: auto
}

.vim-post-controls--play {
    bottom: 0;
    left: -10000px;
    margin: 10px
}

.vim-post-controls h3:hover {
    background-color: #ef3a68
}

.vim-noblack {
    display: none;
}

@media not (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .vim-noblack {
        display: block;
        border: 10px solid red;
    }
}

<!-- [if IE]> .vim-noblack {
    display: none;
}

<![endif]-->